
* {
    font-family: sans-serif;
    color: white;
  }

body {
    background: black;
  }

table {
    margin-top: 50px;
    padding: 5px;
  }

#submitButton {
    color: black;
  }

#Blue {
    color: black;
  }

table, th, td {
    border: 1px solid;
  }


select option {
    color:#333;
}


#colors {
    color: black;
}
  